body {
  font-family: "Fira Sans", sans-serif;
  line-height: 0.9;
}

h1 {
  font-style: italic;
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  margin: -30px auto;
  max-width: 200px;
}

.wrapper {
  border: 1px solid rgba(128, 128, 128, 0.356);
  max-width: 1200px;
}

.inactive {
  display: none;
}

/*styles for today's weather cards*/

.current-weather {
  margin-top: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(128, 128, 128, 0.356);
  padding: 5px;
}

.calender {
  text-align: right;
  justify-content: space-evenly;
  padding-right: 10px;
}

.weather-description {
  justify-content: center;
}

.data {
  text-align: left;
  justify-content: space-evenly;
  padding-left: 10px;
}

.city {
  font-size: 3rem;
}

.date {
  font-style: italic;
  line-height: 0.8;
  font-size: 1.75rem;
}

.time {
  font-size: 3.5rem;
}

.description::first-letter {
  text-transform: capitalize;
}

.max-min {
  white-space: nowrap;
}

.temperature-value {
  font-size: 5rem;
}

.temperature-unit {
  font-size: 2.3rem;
  top: -0.9em;
}

.value {
  font-weight: bold;
}

.unit {
  font-size: 1.3rem;
  font-weight: bold;
}

/*styles for this week's weather cards*/

h4.day {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
}

.emoji-temp-layout {
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.week-weather-emoji {
  font-size: 3rem;
}

.high {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.week-temp-unit {
  font-size: 1.125rem;
  position: relative;
  top: -0.3em;
}

@media screen and (max-width: 768px) {
  .max-min {
    white-space: normal;
  }
  .break-point::before {
    content: "\a";
    display: block;
  }
}

/* @media screen and (max-width: 575px) */
