:root {
  --primary-background-colour: #e2ebf8;
  --secondary-background-colour: #ffffff;
  --primary-element-colour: #8ea9d5;
  --secondary-element-colour: #466ca4;
  --light-colour: #ffffff;
  --dark-colour: #0f3b7b;
}

body {
  font-family: "Fira Sans", sans-serif;
  line-height: 0.9;
  background-color: var(--primary-background-colour);
}

h1 {
  font-style: italic;
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
}

a,
a:link {
  text-decoration: none;
  color: var(--secondary-element-colour);
  font-weight: bold;
}

a:visited {
  color: var(--dark-colour);
}

a:hover {
  text-decoration: underline;
  color: var(--dark-colour);
}

a:active {
  position: relative;
  right: 1px;
  top: 1px;
  color: var(--primary-element-colour);
}

img {
  max-width: 200px;
  object-fit: cover;
  z-index: 1;
  overflow: visible;
}

.form-control {
  border: solid 2px var(--primary-element-colour);
  border-right: none;
}

.btn.search {
  background-color: var(--primary-background-colour);
}

.btn-outline {
  border: solid 3px var(--secondary-element-colour);
  background-color: white;
}

.btn-outline:hover {
  background-color: var(--secondary-element-colour);
  color: var(--light-colour);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: var(--primary-element-colour);
  border-color: var(--primary-element-colour);
  color: var(--light-colour);
}

#celcius-button,
#farenheit-button {
  border-right: solid 1.5px var(--secondary-element-colour);
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

#mph-button,
#metrespersecond-button {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-left: solid 1.5px var(--secondary-element-colour);
}

.wrapper {
  max-width: 1000px;
  height: 100%;
  background-color: var(--secondary-background-colour);
}

.inactive {
  display: none;
}

/*styles for today's weather*/

.current-weather {
  margin: 25px auto;
  max-width: 800px;
  width: 95%;
  border: solid 6px var(--primary-background-colour);
  border-radius: 12px;
}

[class$="-column"] {
  border: solid 3px var(--primary-background-colour);
  border-radius: 1px;
  display: flex;
  padding-top: 10px;
}

.city-column {
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
}

.calender-column {
  justify-content: space-between;
  background-color: var(--primary-background-colour);
}

.temp-column {
  flex-direction: column;
  align-items: flex-end;
}

.icon-column {
  justify-content: center;
}

.description-column {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.city {
  font-size: 3rem;
}

.time {
  font-size: 3.5rem;
}

.date {
  font-style: italic;
  line-height: 0.8;
  font-size: 1.75rem;
  text-align: right;
}

.temperature-value {
  font-size: 5rem;
}

.temperature-unit {
  font-size: 2.3rem;
  top: -0.9em;
}

.max-min {
  font-size: 1.3rem;
  white-space: nowrap;
}

.break-point::before {
  content: "| ";
}

.description {
  margin-bottom: 15px;
}

.description::first-letter {
  text-transform: capitalize;
}

.value {
  font-weight: bold;
}

.unit {
  font-size: 1.3rem;
  font-weight: bold;
}

/*styles for forecast*/

.weekly-forecast {
  margin: 25px auto;
  max-width: 900px;
  width: 95%;
  border: solid 6px var(--primary-background-colour);
  border-radius: 12px;
}

.forecast-col {
  border-left: solid 3px var(--primary-background-colour);
  padding: 0 3px;
}

.forecast-col:first-of-type {
  border-left: none;
}

.forecast-contents {
  flex-wrap: nowrap;
}

h4.day {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
}

.forecast-icon {
  max-width: 200px;
  object-fit: cover;
  z-index: 1;
}

.high {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.forecast-unit {
  font-size: 1.125rem;
  position: relative;
  top: -0.3em;
}

/*RESPONSIVE BREAKPOINTS*/

/*md breakpoint*/

@media screen and (max-width: 991.98px) {
  .forecast-contents {
    align-items: center;
  }
  .forecast-col:first-of-type,
  .forecast-col:nth-of-type(4) {
    border-left: none;
  }
  .forecast-col:nth-of-type(1),
  .forecast-col:nth-of-type(2),
  .forecast-col:nth-of-type(3) {
    border-bottom: solid 3px var(--primary-background-colour);
  }
}

/*sm breakpoint*/

@media screen and (max-width: 767.98px) {
  h1 {
    font-size: 2.2rem;
  }
  .current-weather {
    margin: 20px auto;
  }
  .city {
    font-size: 2.5rem;
  }
  .date {
    font-size: 1.3rem;
  }
  .time {
    font-size: 3rem;
  }
  .description {
    font-size: 1.8rem;
  }
  .temperature-value {
    font-size: 4.5rem;
  }
  .temperature-unit {
    font-size: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .city {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 610px) {
  .max-min {
    white-space: normal;
  }
  .break-point::before {
    content: "\a";
    white-space: pre;
  }
}

/*xs breakpoint*/

@media screen and (max-width: 575.98px) {
  h1 {
    font-size: 1.8rem;
  }
  img {
    max-width: 100px;
    z-index: 1;
  }
  .calender-column {
    order: -1;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding: 5px;
  }
  .city-column {
    align-content: center;
    justify-content: center;
  }
  .temp-column {
    background-color: var(--primary-background-colour);
  }
  .icon-column {
    justify-content: flex-start;
    background-color: var(--primary-background-colour);
  }
  .description-column {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .time {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .date {
    padding-right: 10px;
    margin-bottom: 0;
  }
  .city {
    text-align: center;
    font-size: 2.4rem;
  }
  .description {
    width: 100%;
  }
  .humidity::before {
    content: "\00a0";
  }
  .humidity::after {
    content: "\00a0";
  }
  .wind::before {
    content: "\00a0";
  }
  .wind::after {
    content: "\00a0";
  }
  .forecast-col:nth-of-type(4) {
    border-left: solid 3px var(--primary-background-colour);
  }
  .forecast-col:nth-of-type(odd) {
    border-left: none;
  }
  .forecast-col {
    border-bottom: solid 3px var(--primary-background-colour);
  }
  .forecast-col:nth-last-of-type(2),
  .forecast-col:last-of-type {
    border-bottom: none;
  }
}

@media screen and (max-width: 472px) {
  h1 {
    font-size: 1.5rem;
  }
  .icon-column {
    justify-content: center;
  }
}
